@page "{id:int}"
@model internship.Pages.TournamentDetailsModel
@{
    ViewData["Title"] = "Tournament Details";
}
<h2 style="text-align: center">@Model.Tournament?.Name (@Model.Tournament?.Year)</h2>
@if (Model.Fictures.Count == 0)
{
    <p>No fictures available.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Stadium</th>
                <th>Referee</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = Model.Fictures.Count - 1; i >= 0; i--)
            {
                var ficture = Model.Fictures[i];

                <tr>
                    <td>
                        <a class="nav-link text-dark" href="/FictureDetails/@ficture.Id">
                            @if (i < Model.HomeTeams.Count)
                            {
                                @Model.HomeTeams[i].Name
                            }
                            else
                            {
                                <em>Unknown</em>
                            }
                        </a>
                    </td>

                    <td>
                        <a class="nav-link text-dark" href="/FictureDetails/@ficture.Id">
                            @if (i < Model.AwayTeams.Count)
                            {
                                @Model.AwayTeams[i].Name
                            }
                            else
                            {
                                <em>Unknown</em>
                            }
                        </a>
                    </td>

                    <td>
                        <a class="nav-link text-dark" href="/FictureDetails/@ficture.Id">
                            @if (i < Model.Stadiums.Count)
                            {
                                @Model.Stadiums[i].Name
                            }
                            else
                            {
                                <em>Unknown</em>
                            }
                        </a>
                    </td>

                    <td>
                        <a class="nav-link text-dark" href="/FictureDetails/@ficture.Id">
                            @if (i < Model.Refnames.Count)
                            {
                                @Model.Refnames[i].Name
                            }
                            else
                            {
                                <em>Unknown</em>
                            }
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

